{% extends "base.html" %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <style>
      .abc{
        padding-top: 30px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 100px;
      }
	    body{
         background-color: #272121;
         margin: 0%;
	    }
      h1,h2{
         color: white;
       }

    <title>Workout Videos</title>
    </style>
  </head>
  <body>
    <h1 align="center">SOME WORKOUT VIDEOS HERE... </h1>
    <div class="abc">
  	<h2>SLIM</h2>
	  <iframe width="350" height="280" src="https://www.youtube.com/embed/Hg_2edlILdM"></iframe>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/-kQpTMkQo3Y"></iframe>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/OvV4T5s0-Bw"></iframe>
    <h2>TALL</h2>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/LYPVP_156mE"></iframe>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/qGJKjFHzuqo"></iframe>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/sIPfPwPrvxg"></iframe>
    <h2>BODY-BUILDING</h2>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/T76BHrT8wBg"></iframe>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/zCdh73EFyb4"></iframe>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/Zow16y5ljXc"></iframe>
    <h2>VEGANS</h2>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/XiS5IckE-Hk"></iframe>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/m_NbWYgEs3w"></iframe>
    <iframe width="350" height="280" src="https://www.youtube.com/embed/P_wD2zydD_g"></iframe>
  </div>
{% endblock content %}